body {
    margin: 0;
    padding: 0;
    background-color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font sieze globaly 10xp = 1rem the 62.5% of default 16px */
    font-size: 62.5%;
}

@font-face {
font-family: "Digital-7";
src: url("fonts/digital-7/digital-7.ttf");
}

.clock {
    height: 100vh;
    position: relative;
}

.clock_container{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.clock_digits {
    color:#fbd300;
    font-family: "Digital-7", Arial, sans-serif;
    font-size: 35rem;
    display: block;
}
