body {
    margin: 0;
    padding: 0;
    background-color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font sieze globaly 10xp = 1rem the 62.5% of default 16px */
    font-size: 62.5%;
}

@font-face {
font-family: "Digital-7";
src: url("fonts/digital-7/digital-7.ttf");
}

.clock {
    height: 100vh;
    position: relative;
}

.clock_container{
    width:80%;
    text-align: center;
    height:auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.digit {
    float:left;
    color:#fbd300;
    font-family: "Digital-7", Arial, sans-serif;
    font-size: 24vw;
    display: block;
    width: 13%;
	text-shadow:2px 4px 10px #af9401;
}

.clockdots {
    float:left;
    color:#fbd300;
    font-family: "Digital-7", Arial, sans-serif;
    font-size: 24vw;
    display: block;
	text-shadow:2px 4px 10px #af9401;
}
